# Python and IDE settings
venv
.venv
.idea

# Project files
.env
snellius

**.pyc
data
thesis
v2

experiments
logs
prompts
backup.py

indices

.claude
.worktreeinclude
CLAUDE.md
standards/

*.pdf
junk/